* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

[v-cloak] {
  display: none;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
}

#clock {
  text-transform: uppercase;
}

.description {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 1.0;
  font-size: 12px;
  font-size: 1.0vw;
  text-align: left;
}

.description:first-child {
  margin-top: 0;
}

#time-remaining {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 8vw;
  color: #fff;
  text-align: center;
  letter-spacing: 3.25px;
  font-kerning: none;
}

#tons-per-second,
#co2 {
  color: #fff;
  text-align: center;
  font-size: 8vw;
  letter-spacing: 3.25px;
  font-kerning: none;
}

#tons-per-second {
  text-align: left;
}

.unit {
  padding: 0.5vw;
  /* border: 1px solid red; */
  /* border-right: 0; */
  text-align: center;
  white-space: pre;
}

.unit:last-child {
  /* border-right: 1px solid red; */
}

.units {
  display: block;
  font-size: 1.6vw;
}

.about {
  max-width: 800px;
  padding: 100px;
  margin: auto;
}

.hide {
  transition: 2s opacity;
}

.fade {
  opacity: 0;
}
